.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}

.blank__product-list {
  text-align: center;
}
.blank__product-title {
  font-weight: 600;
}

.container-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.details {
  display: flex;
}

.details > img {
  flex: 0 1;
  width: 250px;
  height: 250px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description > img {
  width: auto;
  height: 250px;
}

.description > p {
  font-size: 1.2rem;
}
.no-product {
  font-size: 4rem;
  color: #0984e3;
}
